body {background-color: rgb(42, 184, 228); margin: 64px; font-family: "Instrument Sans", sans-serif;}

p {
    font-family: "Instrument Sans", sans-serif;
}

strong {
    font-family: "Instrument Sans";
}

article {
    font-family: "Instrument Sans";
}

article p {
    font-family: "Instrument Sans";
}

h1 {
    font-family: "Fjalla One", sans-serif;
    color: lightyellow; 
    font-size: 60px;
}

h2 {
    font-family: "Fjalla One", sans-serif;
    color: lightyellow; 
    font-size: 48px;
}

h3 {
    font-family: "Fjalla One", sans-serif;
    color: lightyellow; 
    font-size: 32px;
}

h4 {
    font-family: "Fjalla One", sans-serif;
    color: lightyellow; 
    font-size: 18px;
}

h5 {
    font-family: "Fjalla One", sans-serif;
    color: lightyellow;
}

h6 {
    font-family: "Fjalla One", sans-serif;
    color: lightyellow;
}

section {border: 4px solid lightblue; }

a {
    font-family:calibri; color: rgb(3, 2, 2); text-decoration: none;
}

a:hover {
    color: lightblue;
}

a:visited {
    color: rgb(133, 133, 133)
}

button {
    background-color: black; color: white;
}

button:hover {
    color: lightblue;
}

input:focus,
textarea:focus,
select:focus {
    background-color: #fff9c4;
    }

ul li:last-child,
ol li:last-child {
    font-style: italic;
  }

@font-face {
  font-family: "Fjalla One";
  src: url("../fonts/FjallaOne-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../fonts/InstrumentSans-VariableFont_wdth\,wght.ttf");
  font-weight: normal;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:
        'navigaatio navigaatio navigaatio'
        'sivupalkki sisalto tyokalut'
        'status status status';
    grid-template-columns: 14em 10fr 1fr;

    grid-template-rows: 8em auto 6em;
}

section {
    grid-area: tyokalut;
}
nav {
    background-color: black;
    grid-area: sivupalkki;
}
main {
    grid-area: sisalto;
}
aside {
    background-color: gray;
    grid-area: navigaatio;
}
footer {
    grid-area: status;
}
